.bike-selector {
	display: flex;
	align-items: center;
	border-radius: 50px;
	background: $white;
	height: 42px;
	.select-item {
		padding: 0px 31px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		height: 100%;
		cursor: pointer;

		&.active {
			background: $black;
			border-radius: 50px;
			color: $yellow;
			cursor: default;
		}
		img {
			display: inline-block;
			margin-right: 8px;
		}
	}
}