header {
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 90px;
	box-shadow: 0px 3px 4px 0px #0000001A;
	box-sizing: border-box;

	h1 {
		cursor: pointer;
	}

	@include for-pad {
		padding: 20px 16px;
		
		p {
			flex: 1;
			text-align: center;
		}
	}
}