.scenic-food-wrap {
  background: $gray-bg;
  display: flex;
  flex: 1;
}

.scenic-food-list {
  width: 1150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 34px auto;
  align-items: center;
  justify-content: center;
}