$viewPoint: (
  pad: 768px,
  mobile: 400px,
);

@mixin for-pad {
  @media screen and (max-width: map-get($viewPoint, "pad")) {
    @content;
  }
}

@mixin for-mobile {
  @media screen and (max-width: map-get($viewPoint, "mobile")) {
    @content;
  }
}

@mixin fontSize($size) {
  font-size: map-get($font, $size);
}