// color
$yellow: #FED601;
$black: #000000;
$gray-dark: #7A7A7A;
$gray-light: #D2D2D2;
$white: #ffffff;

// font size
$font: (
	s-17: 17px,
	s16: 16px,
	s15: 15px,
	s14: 14px,
	s13: 13px,
	s12: 12px,
);
