@import '../components/scenicFoodList';
@import '../components/scenicFoodDetail';

.scenic-spot-food {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  @include for-pad {
    height: 100vh;
  }

  @include for-mobile {
		height: calc(var(--vh, 1vh)* 100);;
	}
}

.list-item {
  width: 362px;
  height: 143px;
  box-sizing: border-box;
  padding: 12px 14.5px;
  display: flex;
  box-shadow: 0px 3px 4px 0px #0000001A;
  margin: 0 4.5px 9px;
  border-radius: 6px;
  background: $white;
  cursor: pointer;

  @include for-mobile {
    width: 301px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .item-img {
    width: 119px;
    height: 119px;
    display: inline-block;
    margin-right: 10px;

    @include for-mobile {
      width: 75px;
      height: 75px;
    }
  }

  .item-content{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .item-phone{
    display: flex;
    align-items: center;
    margin-top: auto;

    img {
      display:  inline-block;
      margin-right: 8px;
    }
  }

  .item-distance {
    color: $yellow;
    text-align: end;
    margin-bottom: 6px;
  }
}